{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<h2>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h2>
{{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
