body {

}

header {
  background-color: #000 !important;
}

header a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-bottom: 0 !important;
}

th {
  text-align: left;
  border: 0 !important;
  padding: 10px 8px !important;
}

td {
  border-bottom: 1px solid #000 !important;
  padding-top: 1.2em !important;
  padding-bottom: 6px !important;
}
