<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/vacit-main.css') }}">
    </head>
    <body>
      <header>
        <div class="logo">
          <a href="{{ path('homepage') }}">
            [LOGO]
          </a>
        </div>
        <nav>
          {{ include('nav.html.twig') }}
        </nav>
      </header>
        {% block content %}{% endblock %}
      <footer>
        <div class="logo">[LOGO]</div>
        <div>[ADRES]</div>
        <div>[PRIVACY]</div>
      </footer>
      <script type="text/javascript" src="{{ asset('assets/js/page.default.js') }}"></script>
    </body>
</html>
