<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="assets/css/vacit-main.css">
    </head>
    <body>
      <header>
        <div class="logo">[LOGO]</div>
        <nav>
          {{ include('nav.html.twig') }}
        </nav>
      </header>
        {% block content %}{% endblock %}
      <footer>
        <div class="logo">[LOGO]</div>
        <div>[ADRES]</div>
        <div>[PRIVACY]</div>
      </footer>
      <script type="text/javascript" src="assets/js/page.default.js"></script>
    </body>
</html>
