{% extends 'base.html.twig' %}

{% block title %}VAC!T - Vacaturesite voor IT{% endblock %}

{% block content %}
  {% if user is not null %}
    <form action="{{ path('profile') }}" method="post">
      {% if is_granted('ROLE_CANDIDATE') %}
        {{ include('user/fields_candidate.html.twig') }}
      {% elseif is_granted('ROLE_EMPLOYER') %}
        {{ include('user/fields_employer.html.twig') }}
      {% endif %}
    <input type="submit" value="Opslaan">
  </form>
  {% else %}
    Je bent niet ingelogd...
  {% endif %}
{% endblock %}
